*{
    font-family: 'Poiret One', cursive;
}
.row{
    border-bottom: solid;
    border-bottom-width: 1pt;
}
.navbar-nav{
    font-size: 17pt;
    font-weight: bold;
}
.navbar-brand{
    font-size: 40pt;
    font-weight: bold;
    margin-right: 0px;
}
.navbar-nav > li > a, .navbar-brand {
    margin-top:20px !important;
    padding-top:20px !important;
    margin-bottom:10px !important;
    height: 80px;
}
.navbar-default {
  border-bottom:
}

.navbar {min-height:28px !important;}
.menulinks{
    margin-left: 70px;
    border-left: solid;
    border-left-width: 1pt;
}

.navbar{
    background-color: white;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;

}
h1{
    margin-bottom: 50px;

}
