*{
    font-family: 'Poiret One', cursive;

    /*font-family: 'Noticia Text', serif;*/
    /*font-family: 'Fjalla One', sans-serif;*/

    
  
    
    /*


      font-family: 'Raleway', sans-serif;
      font-family: 'Quicksand', sans-serif;
    */
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #1c262b;
    color:white;

}

a{
  text-decoration: none;
}

h1{

    margin-bottom: 50px;
    text-align: center;

}



/*background intro */

.intro_img{
    background-size: cover;
    height: 80vh;
    width: 55.5%;
}

#intro_container{
    padding: 0px;
    height: 80vh;
    width: 100vw;
    /*background-color: #391108;*/
    position: relative;
}


#intro_1 {
    left:0%;
    background-image: url(../img/pexels-photo-30732.jpg);
    -webkit-clip-path: polygon(0 0, 83% 0, 95% 100%, 0% 100%);
    clip-path: polygon(0 0, 83% 0, 95% 100%, 0% 100%);
    opacity: 0.7;
    z-index: 100;
}

#intro_2{
    position: absolute;
    top: 0px;
    right: 0%;
    background-image: url(../img/bene.jpg);

    -webkit-clip-path: polygon(3% 0, 100% 0%, 100% 100%, 15% 100%);
    clip-path: polygon(4% 0, 100% 0%, 100% 100%, 15% 100%);
    opacity: 0.7;
    z-index: 0;
}
#title, #second-title{
    position: absolute;
    text-align: center;
    font-weight: bolder;


}
#title{

    font-size: 7vw;
    bottom: 35%;
    left: 5%;
    color: #fbdf9e;
}

#second-title{
    font-size: 4vw;
    bottom: 3%;
    left: 0%;
    color: white;
    display: flex;
    padding-left: 0%;
    padding-right: 5%;


}

#second-title p{
  margin:0px;
  padding-left: 5%;
  padding-right: 5%;
}

.canvas-wrapper{
  position: relative;
  margin-left: 10%;
  border-radius: 15px;
  border-color: white;
  border-width: thick;
  border-style: solid;


}
.flying-dots{
  position: absolute;
  margin: 0;
  top: 0%;
  left: 0%;
  font-size: 20pt;
  z-index: 100;
  border-color: white
  border-radius: 25px;

}

@media (max-width:992px){
  #intro_1{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  #title{
    font-size:12vw;
    bottom: 50%;
    left:5%;
    margin:0;
    color: #1c262b;
  }
  .intro_img{
    height: 60vh;
  }
  #intro_container{
    height: 60vh;
  }
  #social-media-links{
    margin-top:50px;
  }
  #second-title{
    font-size: 7vw;
    left:0%;
  }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/*navigation bar*/
#body{
    margin-top: 50px;
}

.sticky {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

#navigation{
    width: 75%;
    height: 50px ;
    padding-left: 25%;
    padding-right: 0%;
    font-size: 32pt;
    background-color:#27a5e3;

}

#navigation-links{
  display: flex;
}
.navigation-link{
    margin-right: 9vw;
    color: white;
    padding-bottom: 0px;
}

#talking-bubble{

}
.bubble-visible{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #27a5e3;
}

@media (max-width: 992px){
  #title{
    color: white;
  }
  #navigation{
    font-size: 22pt;
    height: 40px;
  }

  .bubble-visible{
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #27a5e3;
  }
}
@media (max-width: 500px){
    #navigation{
      padding-left: 5%;
      padding-right: 20%;
    }
}
/*abouts*/

#sctxt{
    margin-top: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 15px;
    font-size: 14pt;
    font-weight: 600;
}

.smicon img{
    margin-right: 20px;
    padding-top: 30px;
    width:  3%; /* you can use % */
    min-width: 50px;
    height: auto;
}

.resume-button{
    margin-top: 20px;
    background-color: #ECF0F1;
    max-width: 270px;
}
.resume-button a{
    color: black;
    margin-left: 80px;
    font-size: 22pt;
    font-weight: 900;
}

#about, #projects{
    padding-top: 50px;
}

#contact{
  padding-bottom: 100px;
}

.skillset-container{
  display: flex;

}
.skillset{
  text-align: center;
  width:12vw;
  min-width: 150px;
  font-size: 14pt;
  margin-right:7%;
  margin-left: 7%;
  margin-bottom: 20px;
}
.skillset img{
  width: 35%;

}
.skill-title{
  font-weight: bolder;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20pt;
}

@media (max-width: 992px){
  .skillset{
    font-size: 12pt;
  }
  .skill-title{
    font-size: 18pt;
  }
}
@media (max-width: 500px){
  .skillset{
    font-size: 12pt;
    margin-right:3%;
    margin-left: 3%;
  }
  .skill-title{
    font-size: 18pt;
  }
  #sctext{
    margin-top:0;
  }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}


#quick-info-icons{
  display: flex;
}
.quickInfo{
    display: flex;
    margin-bottom: 50px;

}
.quickInfo img{
    width:70px; /* you can use % */
    height: 70px;
}

.about-text{
    margin-top: 20px;
    font-size: 20pt;
    margin-bottom: 5vw;
}

@media (max-width:992px){
  .about-text{
    font-size: 14pt;
    text-align: center;
  }
  .quickInfo{
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
    
  }
}
@media (max-width:500px){
  .quickInfo{
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 0px;
    
  }

}




.double-line {
  line-height: 0.5;
  text-align: center;

}
.double-line span {
  display: inline-block;
  position: relative;  
  font-family: 'Open Sans Condensed', sans-serif;
}
.double-line span:before,
.double-line span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: 1px solid #BAF9D3;
  border-top: 1px solid #BAF9D3;
  top: 0;
  width: 50px;
  margin-top: 10px;
}
  

.double-line span:before {
  right: 100%;  
  margin-right: 15px;
}
.double-line span:after {
  left: 100%;
  margin-left: 15px;
}

#resume{
  margin-bottom: 90px;
}


.resume-wrapper{
  border-radius: 2px;
  border: 1px solid #BAF9D3;
  padding-right: 130px;
  padding-left: 95px;
  padding-top: 10px;
  padding-bottom: 9px;
  width:50px;
  margin: auto;
}
#resume-link{
  text-align: center;
  font-size: 25pt;
  color: #BAF9D3;
  
  text-decoration: none;
  line-height:20px;
}
#resume-link:hover{
  cursor: pointer;
}
/*progress-bars*/
#progress-bars{
    display: flex;
}
#skill1 #skill2 #skill3  {
  margin: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 18pt;

}
#progress-text{
    position: absolute;
    margin-top: 30px;
}

/*animation*/

#story-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#right-side-story,#left-side-story{
  position: relative;
  height: 100px;
  width:30%;
}

#right-side-story{
  margin-left: 0;
  padding-left: 0;
  border-left-style: solid;
  border-left-color: white;
}
#left-side-story{
  margin-right: 0;
  margin-left: 0;
}
#right-item, #left-item{
  z-index: 0;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}
.right-story-img, .left-story-img{
    display: inline-block;
    clear:both;
    float:left;
    height: 80%;
}
.right-story-p, .left-story-p{
    display: inline-block;
    vertical-align: center;
    clear:both;
    float:left;
    margin: 0;
}
#right-item{
}



/*animation */
#animate-button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#animate-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#story{
    padding-top: 100px;
    position: relative;
}
#ghostpic{
    position: absolute;
    background-color: grey;
    width: 100%;
}
#info-box{
    position: relative;
    height: 200px;
}
#ghostinfo{
    position: absolute;
    background-color: grey;
    top: 0%;
    width: 100%;
    margin-right: 100px;
}
#picture , #line,  #story-info{
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15pt;
}
#picture{
    height: 100px;
    width: 100px;
    background-size: cover;
}
#line{
    height: 10px;
    width: 200px;
    background-color:#27a5e3;
}

#story-info{
    font-size: 20pt;

}



/*overlay animation for projects*/

.img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 40vw;
  height: 22vw;
  overflow: hidden;
  min-width: 370px;
  min-height: 210px;
}
.img:nth-child(n) {
  margin-right: 5px;
}
.img:first-child {
  margin-left: -15px;
}
.img:last-child {
  margin-right: 0;
}
.img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  overflow: hidden;
  color:  #3399ff;
  font-weight: bold;
  font-size: 17pt;
  line-height: 150%;
  transition: all 0.5s;
}
.overlay a{
  color: #3399ff;
  text-decoration: underline;
}
.overlay p{
  margin: 20px;
}

@media (max-width: 992px){
  .overlay{
    font-size: 14pt;
  }
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 90px;
  height: 90px;
  /*
  border-radius: 90px;
  border: solid 5px #fff;
  */
  text-align: center;
  color: #3399ff;
  line-height: 50px;
  font-weight: 700;
  font-size: 90px;
  text-decoration: none;

}

.project-card{
    margin-left: 5%;
    margin-bottom: 4vw;
}
.project-card  .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
.project-card   .overlay a.expand {
  left: 80;
  right: 0;
  bottom: 3%;
  margin: 0 auto -30px auto;
}
.project-card  .img.hover .overlay {
  height: 100%;
}
#card-1{
  background-color: #88f29f;
}
#card-2{
   background-color: #B2C7C8;
}
#card-3{
   background-color: #F3CEDE;
}
#card-4{
   background-color: #c5edde;
}


/*form style*/
#form{

  display: block;
}
.input{
    width: 50%;
    font-size: 20pt;
    padding:10px;
    margin: 20px;
    margin-left: 0;
    border-radius: 15px;
    border-color: #27a5e3;

    color :black;
  }
  #message-input{
    width: 90%;
    height: 200px;

    cols:30;
    rows:10;


  }

#send-button{
  width : 150px;
  color : black;
  font-weight: 700;
  background-color:  #66ff66;
  border: 0;
  border-radius: 5px;
  font-size: 20pt;
  vertical-align: center;
  margin-left: 75%;

}

input:focus, textarea:focus{
  outline: none;
