*{
    font-family: 'Poiret One', cursive;
    /*font-family: 'Noticia Text', serif;*/
    /*font-family: 'Fjalla One', sans-serif;*/
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #1c262b;
    color:white;

}

a{
  text-decoration: none;
}

h1{
    margin-bottom: 50px;
    text-align: center;

}

/*layout classes*/
.container{
    padding-bottom: 70px;
}
.row{
    border-bottom: solid;
    border-bottom-width: 1pt;
    width: 100%;
}

.flexrow{
  margin-left: 10%;
  width: 80%;
}


.row-wide-center{

    width: 80%;
    margin-left: 10%;
}

.row-adjustable-center1{
  display: table;
  width: 100%;
}
.row-adjustable-center1{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 992px){
  .col-md-6{
    width: 50%;
  }

  .flexrow{
    display: flex;
  }
}
@media (min-width: 992px){
  .col-xs-12{
    width: 100%;
  }

}

/*background intro */

.intro_img{
    background-size: cover;
    height: 80vh;
    width: 55.5%;
}

#intro_container{
    padding: 0px;
    height: 80vh;
    width: 100vw;
    /*background-color: #391108;*/
    position: relative;
}


#intro_1 {
    left:0%;
    background-image: url(../img/woman-hand-smartphone-desk.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    opacity: 0.7;
}
#intro_2{
    position: absolute;
    top: 0px;
    right: 0%;
    background-image: url(../img/pexels-photo-30732.jpg);
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0.7;
}
#title, #second-title{
    position: absolute;
    text-align: center;
    font-weight: bolder;


}
#title{
    font-size: 7vw;
    bottom:5%;
    left: 5%;
    color: #1f3341;
}

#second-title{
    font-size: 4vw;
    bottom: 3%;
    right: 10%;
    color: white;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;


}

#second-title p{
  margin:0px;
  padding-left: 5%;
  padding-right: 5%;
}

.canvas-wrapper{
  position: relative;
  margin-left: 10%;
  border-radius: 15px;
  border-color: white;
  border-width: thick;
  border-style: solid;


}
.flying-dots{
  position: absolute;
  margin: 0;
  top: 0%;
  left: 0%;
  font-size: 20pt;
  z-index: 100;
  border-color: white
  border-radius: 25px;

}



/*navigation bar*/
#body{
    margin-top: 50px;
}

.sticky {
  position: fixed;
  height
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

#navigation{
    width: 100%;
    height: 5vw ;

    padding-left: 25%;
    padding-right: 65%;
    font-size: 3vw;
    background-color:#27a5e3;

}
#navigation-links{
  display: flex;
}
.navigation-link{
    margin-right: 9vw;
    color: white;
    padding-bottom: 10px;
}

#talking-bubble{

}
.bubble-visible{
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid #27a5e3;
}


.smicon img{
    margin-right: 20px;
    padding-top: 30px;
    width:  3%; /* you can use % */
    min-width: 50px;
    height: auto;
}

.resume-button{
    margin-top: 20px;
    background-color: #ECF0F1;
    max-width: 270px;
}
.resume-button a{
    color: black;
    margin-left: 80px;
    font-size: 22pt;
    font-weight: 900;
}

#about, #projects{
    padding-top: 50px;
}


.skillset-container{
  display: flex;
}
.skillset{
  text-align: center;
  width:12vw;
  min-width: 200px;
  font-size: 12pt;
  margin-right:10%;
  margin-left: 10%;
  margin-bottom: 20px;
}
.skillset img{
  width: 70px;
  height:70px;

}
.skill-title{
  font-weight: bolder;
  font-family: 'Fjalla One', sans-serif;
  font-size: 17pt;
}


#sctxt{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 14pt;
    font-weight: 600;
}
.quickInfo{
    display: flex;
    margin-bottom: 50px;
}
.quickInfo img{
    width:70px; /* you can use % */
    height: 70px;
}
.circular {
    margin-top: 40px;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    background: url(http://daniel-suissa.github.io/res/img/profile.png) no-repeat;
    }

.about-text{
    margin-top: 20px;
    font-size: 20pt;
    margin-bottom: 5vw;
}

/*progress-bars*/
#progress-bars{
    display: flex;
}
#skill1 #skill2 #skill3  {
  margin: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 18pt;

}
#progress-text{
    position: absolute;
    margin-top: 30px;
}




/*animation */
#animate-button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#animate-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#story{
    padding-top: 100px;
    position: relative;
}
#ghostpic{
    position: absolute;
    background-color: grey;
    width: 100%;
}
#info-box{
    position: relative;
    height: 200px;
}
#ghostinfo{
    position: absolute;
    background-color: grey;
    top: 0%;
    width: 100%;
    margin-right: 100px;
}
#picture , #line,  #story-info{
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15pt;
}
#picture{
    height: 100px;
    width: 100px;
    background-size: cover;
}
#line{
    height: 10px;
    width: 200px;
    background-color:#27a5e3;
}

#story-info{
    font-size: 20pt;

}



/*overlay animation*/

.img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 35vw;
  height: 22vw;
  overflow: hidden;
}
.img:nth-child(n) {
  margin-right: 5px;
}
.img:first-child {
  margin-left: -15px;
}
.img:last-child {
  margin-right: 0;
}
.img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  overflow: hidden;
  color:  #3399ff;
  font-weight: bold;
  font-size: 17pt;
  line-height: 150%;
  transition: all 0.5s;
}
.overlay a{
  color: #3399ff;
  text-decoration: underline;
}
.overlay p{
  margin: 10px;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 30px;
  height: 30px;
  border: solid 5px #fff;
  text-align: center;
  color: #3399ff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
}

.project-card{
    margin-left: 5%;
}
.project-card  .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
.project-card   .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
.project-card  .img.hover .overlay {
  height: 100%;
}
#card-1{
  background-color: #ffff66;
}
#card-2{
   background-color: #ff884d;
}

/*carousels*/
.carousel-indicators
{
    display: none;
}
/*Projects Descriptions*/
.p-list img, .non-img-car{
    width: 300px;
    height: 200px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    margin: auto;
    color: white;
    font-size: 14pt;
}

#pacman-txt{
    background-color:black;*/
}

#eg-txt{
    background-color: #303030 ;
}
.invisible-link:link {
    color:white;
    text-decoration: none;

}
.invisible-link:hover .invisible-link:visited .invisible-link:active{
    color:white;
    text-decoration: none;
}

.non-img-car{
    color:white;
    max-width: 450px;
    max-height: 300px;

    padding-bottom: 0px;
    margin: auto;
}

/*form style*/
#form{

  display: block;
}
.input{
    width: 50%;
    font-size: 20pt;
    padding:10px;
    margin: 20px;
    border-radius: 15px;
    border-color: #27a5e3;

    color :black;
  }
  #message-input{
    width: 90%;
    height: 200px;

    cols:30;
    rows:10;


  }

#send-button{
  width : 150px;
  color : black;
  font-weight: 700;
  background-color:  #66ff66;
  border: 0;
  border-radius: 5px;
  font-size: 20pt;
  vertical-align: center;
  margin-left: 75%;

}

input:focus, textarea:focus{
  outline: none;
